.Wrapper {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
  width: 100%;
  margin-top: 20px;
}

.Label {
  font-feature-settings: 'liga' off, 'clig' off;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%;
  color: #9C9C9C;
  cursor: pointer;
}

.Checkbox {
  width: 24px;
  height: 24px;
  cursor: pointer;
}
