@use 'styles/__mixins.scss' as __mixins;

@mixin H6 {
  font-size: clamp(15px, 0.83vw, 20px); // 16px
  font-style: normal;
  font-weight: 700;
  line-height: normal;

  @include __mixins.font-family-Cairo;
}

.Wrapper {
  @include H6;
}
