@use 'styles/__mixins.scss' as __mixins;

@mixin H2 {
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px;

  @include __mixins.font-family-Cairo;
}

.Wrapper {
  @include H2;
}
