@use 'styles/_mixins' as mixins;

@mixin H2 {
  font-size: clamp(16px, 1.04vw, 28px); // 20px;
  line-height: 1;
  font-style: normal;
  font-weight: 700;

  @include mixins.font-family-Cairo;
}

.Wrapper {
  @include H2;
}
