@use 'styles/__mixins' as __mixins;

.Wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  width: 100%;
}

.Loader {
  width: 25px;
  border-width: 4px;
}

.Label {
  color: var(--black-5);
}

.Buttons {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 8px;
}

.RefreshButton {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 42px;
  height: 42px;
  background: var(--white-1);
  border: 1px var(--grey-8) solid;
  border-radius: 8px;
  cursor: pointer;

  &:hover {
    svg {
      transform: rotate(180deg);
    }
  }

  svg {
    transition: transform 0.3s ease-in-out;
  }
}

.AddButton {
  &:hover {
    svg {
      transform: rotate(180deg);
    }
  }

  svg {
    transition: transform 0.3s ease-in-out;
  }
}
