@use 'styles/__mixins' as __mixins;

.Wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  width: 100%;
}

.Loader {
  width: 25px;
  border-width: 4px;
}

.Label {
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px;
  color: #333;

  @include __mixins.font-family-Cairo;
}

.Buttons {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 8px;
}

.RefreshButton {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 42px;
  height: 42px;
  background: #FFF;
  border: 1px #ECECEB solid;
  border-radius: 8px;
  cursor: pointer;

  &:hover {
    svg {
      transform: rotate(180deg);
    }
  }

  svg {
    transition: transform 0.3s ease-in-out;
  }
}

.AddButton {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 10px 20px;
  gap: 15px;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  background: #242EDB;
  color: #EBF3EA;
  border-radius: 6px;
  cursor: pointer;

  @include __mixins.font-family-Cairo;

  &:hover {
    svg {
      transform: rotate(180deg);
    }
  }

  svg {
    transition: transform 0.3s ease-in-out;
  }
}
