@use 'styles/_mixins' as mixins;

.Wrapper {
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  color: var(--black-1);
  text-align: center;

  &.isThin {
    font-weight: 400;

    @include mixins.font-family-OpenSans;
  }
}
