@use 'components/Typography/Label/Label' as Label;

.Wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
  height: 30px;
}

.Button {
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform 0.3s ease-in-out;

  &.isLeft {
    &:hover {
      transform: translateX(-2px);
    }
  }

  &.isRight {
    &:hover {
      transform: translateX(2px);
    }

    svg {
      transform: rotate(180deg);
    }
  }
}

.ButtonsGoTo {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

.ButtonToGo {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  color: var(--grey-2);
  border: 1px solid var(--grey-8);
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;

  @include Label.Label;

  &:hover {
    background: var(--purple-1);
    color: var(--white-1);
  }

  &.isActive {
    background: var(--purple-1);
    color: var(--white-1);
  }
}
