@use '~reset-css/sass/reset';

@use './variables.scss';
@use 'assets/fonts/fonts.scss';

@use './__mixins.scss' as __mixins;

html,
body,
:global(#root) {
  width: 100%;
}

body {
  background: #F9F9F9;

  @include __mixins.font-family-Inter;
}

* {
  box-sizing: border-box;
}

button {
  background: none;
  border: none;
  cursor: pointer;
}
