:root {
  --white-1: #FFF;
  --white-2: #F3F3F3;
  --black-1: #000;
  --black-2: #161919;
  --black-3: #232323;
  --black-4: #222;
  --black-5: #333;
  --black-6: #202020;
  --grey-1: #999;
  --grey-2: #B2B3B9;
  --grey-3: #E0E0E0;
  --grey-4: #9C9C9C;
  --grey-5: #EBEBEB;
  --grey-6: #6C6C6C;
  --grey-7: #969B9F;
  --grey-8: #ECECEB;
  --grey-9: #EDEDED;
  --blue: #242EDB;
  --purple-1: #797FEA;
  --purple-2: #3C538E;
}
