.Wrapper {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 30px;
  padding: 26px 30px;
  margin-top: 20px;
  background: var(--white-1);
}

.Title {
  color: var(--black-6);
}

.InputMainWrapper {
  max-width: 1023px;
  width: 100%;
  margin: 0 auto;
}

.Input {
  background: var(--white-2);
  border-radius: 8px;
  padding: 12px 54px;
}

.InputIcon {
  left: 20px;
}
