@use 'styles/__mixins' as __mixins;

.Tr {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 11.5px 18px;
}

.Th {
  width: 278px;
  text-align: center;
  cursor: pointer;

  &:nth-child(1) {
    text-align: left;
    width: 390px;
  }
}
