@use 'styles/__mixins.scss' as __mixins;

@mixin H5 {
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;

  @include __mixins.font-family-Roboto;
}

.Wrapper {
  @include H5;
}
