@use 'styles/__mixins.scss' as __mixins;

@mixin H1 {
  font-feature-settings: 'liga' off, 'clig' off;
  font-size: clamp(28px, 2.08vw, 60px); // 40px
  font-style: normal;
  font-weight: 600;
  line-height: 110%;
  letter-spacing: -0.6px;

  @include __mixins.font-family-Inter;
}

.Wrapper {
  @include H1;
}
