@use 'components/Typography/H5/H5' as H5;

.Wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

.Label.override {
  color: var(--black-4);
  @include H5.H5;
  font-size: 16px;
  line-height: 110%;
}
