.Wrapper {
  width: 24px;
  height: 24px;
  flex-shrink: 0;
  border-radius: 4px;
  border: 1px solid #B2B3B9;
  background: #FFF;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;

  &.isChecked {
    background-color: #3C538E;
  }
}
