@use 'components/Typography/Subtitle/Subtitle' as Subtitle;

.Button {
  display: flex;
  padding: 16px 8px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border-radius: 12px;
  border: 1px solid #367AFF;
  background: linear-gradient(0deg, rgba(255, 255, 255, 0.00) 0%, rgba(255, 255, 255, 0.12) 100%), #242EDB;
  box-shadow: 0 8px 8px 0 rgba(54, 122, 255, 0.03), 0 -2px 0 1px rgba(0, 0, 0, 0.08) inset;
  align-self: stretch;
  color: var(--white-1);
  cursor: pointer;
  transition: transform 0.3s ease-in-out;

  @include Subtitle.Subtitle;
  line-height: 120%;

  &:hover {
    transform: scale(1.05);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.LoadingIcon {
  animation: spin 1s linear infinite;
}
