@use 'styles/_mixins' as mixins;

@mixin P {
  font-size: clamp(15px, 0.83vw, 20px); // 16px
  font-style: normal;
  font-weight: 400;
  line-height: normal;

  @include mixins.font-family-OpenSans;
}

.Wrapper {
  @include P;
}
